header{
    width: 100%;
}

/* Bar---------------------------------------- */

/* Profile */
header img:nth-of-type(1){
    width: 2.6em;
    border-radius: 50%;
    position: fixed;
    left: 1em;
    top: 1em;  
    filter: brightness(120%) contrast(130%);
}

/* Yellow circle */
header img:nth-of-type(2){
    width: 2.7em;
    border-radius: 50%;
    position: fixed;
    left: 0.9em;
    top: 0.9em;  
}

/* Upload icon */
header img:nth-of-type(3){
    width: 1em;
    transform: rotate(-45deg);
    position: fixed;
    right: 1.5em;
    top: 1.5em;
}

/* Purple bursh corner */
header img:nth-of-type(4){
    width: 19em;
    position: fixed;
    right: -7.5em;
    top: -10em;
    image-rendering: pixelated;
    z-index: -1;
}


/* Titel---------------------------------------- */

/* Discover... */
.homepopulair main h1{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    line-height: 1.15em;
    position: fixed;
    top: 3.3em;
    left: 0.5em;
    padding: 0.3em;
    padding-right: 1.7em;
    background-color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-transform: uppercase;
}

/* Raster */
.homepopulair main section:nth-of-type(1) img:nth-of-type(1){
    width: 22em;
    position: fixed;
    top: 4.7em;
    left: -1em;
    z-index: -1;
}



.homepopulair main section:nth-of-type(1) img:nth-of-type(2){
    width: 6em;
    height: 4em;
    position: fixed;
    top: 7.6em;
    left: 10em;
    z-index: 1;
}




/* Navigation---------------------------------------- */

/* Catogorieeen */
.homepopulair main nav{
    position: relative;
    top: 14.5em;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    position: fixed;  
}

.homepopulair main nav ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1em;
    overflow-x: auto;
    list-style: none;
    white-space: nowrap;
}

.homepopulair main nav ul li a {
    display: block;
    margin-right: 2em;
    text-decoration: none;
    font-family: poppins;
    font-size: 1em;
}

/* Underline 1??????????? */
.homepopulair main nav ul li a:first-of-type{
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #000;
    border-image:url(afbhome/underline.png);
    border-image-slice: 50;
    padding-bottom: 0.2em;
    
}


/* Gallery---------------------------------------- */



    

/* Pictures */
.homepopulair main section:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.homepopulair main section:nth-of-type(2) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* yellow brush word niet kleiner????? */
.homepopulair main section:nth-of-type(3) img:first-of-type{
    max-width: 18em;
    position: fixed;
    left:-10em;
    bottom:-5em;
}







/* Footer---------------------------------------- */

footer{
    color: transparent;
}
